html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

header {
  background-color: #ffe500;
  padding: 10px;
}

h1 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  font-size: 3em;
  text-align: center;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
}

nav {
  list-style: none;
  text-align:center;
}

nav li {
  display: inline;
}

a {
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1.125rem;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  background-color: #cc1465;
}

.current {
  background-color: #cc1465;
}

.current:active {
  background-color: #cc1465;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-size: .75rem;
  padding: 10px;
}
