html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

header {
  background-color: #ffe500;
}

h1 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
  text-align: center;
}

h2 {
  color: #cc1465;
  font-family: "Sigmar One", cursive;
}

a {
  text-decoration: none;
}

footer {
  background-color: #ffe500;
  text-align: center;
}
